$pri-color:green;
$sec-color: orange;
$thi-color: aqua;
$btn-link:#28A745;
$btn-log:#DC3545;
$btncolor: white;
$body-bg-color: #f5f5f5;

//Variables logo
$img-nw: 25px;
$img-nh: 36px;
$img-bw:200px;
$img-bh:100px;
$img-fw:16px;
$img-fh:25px;


//Variables de nav
$nav-pills-letra-color1:white;
$nav-pills-letra-color2:#007BFF;
$nav-pills-color:#007BFF;

//Variables de letra
$letra: Arial;
$letra-color: black;
$letra-tam: 20px;
$letra-tam-t: 32px;

//login sign up important variables
$body-pad: 40px;
$sign-w: 100%;
$sign-w-max: 330px;
$sign-p: 15px;
$form-control-p: 10px;
$form-control-letra-tam: 16px;
$input-mtop: -1px;
$input-rl:0px;
$input-rr:0px;
